.ContainerPai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 19vh;
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    justify-content: center;
    animation: container 1s;
}
@keyframes container {
    0% {
      transform: translateY(-48px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-26px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-13px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6.5px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87%,
    98% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
form input, form textarea{
    margin-bottom: 15px;
    border-radius: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
}
form label{
    margin-bottom: 4px;
}

.ButtonEnviar{
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid;
    font-family: 'Lemon', serif;
  }
  .ButtonEnviarD{
    border-radius: 20px;
    width: 300px;
    background-color: transparent;
    color: white;
    border: 1px solid;
    font-family: 'Lemon', serif;
  }
.formaPagamento{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 30px;
}
.pix, .card, .dinheiro{
    display: flex;
    align-items: center;
    font-size: 35px;
    transition: 1s;
}
.pixS, .cardS, .dinheiroS{
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid;
    height: 100%;
    font-size: 35px;
    transition: 1s;
    transform: rotate(30deg);
}
.pix,.pixS{
    color: #07a0c3;
}
.card,.cardS{
    color: #dd1c1a;
}
.dinheiro,.dinheiroS{
    color: #006633;
}
.pagamento{
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
