.ContainerPai{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
form input, form textarea{
    margin-bottom: 15px;
    border-radius: 30px;
    height: 30px;
}
form label{
    margin-bottom: 4px;
}

.ButtonEnviar{
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid;
    font-family: 'Lemon', serif;
  }
.formaPagamento{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 30px;
}
.pix, .card, .dinheiro{
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 35px;
    transition: 1s;
}
.pixS, .cardS, .dinheiroS{
    display: flex;
    border: 1px solid;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    padding: 5px;
    font-size: 35px;
    transition: 1s;
    transform: rotate(30deg);
}
.pix,.pixS{
    color: #07a0c3;
}
.card,.cardS{
    color: #dd1c1a;
}
.dinheiro,.dinheiroS{
    color: #006633;
}
.pagamento{
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
