.dadosA{
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content:space-evenly;
  align-items: center;
  gap: 20px;
}
.DadosAnteriores{
    width: 90%;
    border: 1px solid white;
    border-radius: 30px;
    padding:10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 5rem;
  }
  .DadosAnteriores h1{
    border-bottom: 2px solid white;
  }
  .DadosAnteriores button{
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 15px;
  }
.butContinuarD{
  position: relative;
  top: 5rem;
  width: 90%;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 15px;
}
 
  