main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:90px ;
  }
  .nomesAcai{
    font-size: 20px;
  }
  .acai1,.acai2,.acai3,.acai4{
    height: 300px;
    width: 24.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    animation: container 1s;
  }
  @keyframes container {
    0% {
      transform: translateY(48px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(26px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(13px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(6.5px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87%,
    98% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  
  .tipoacai,.desacai{
    width: 50%;
    height: 300px;
    border-radius: 30px;
    transition: 1s;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.452);
  }
  .tipoacaiActivo,.desacaiActivo{
    width: 50%;
    height: 300px;
    border-radius: 30px;
    transition: 1s;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.452);
  
  }
  .tipoacai{
    transform: translateX(-90px);
    background-color: black;
  }
  .desacai{
    transform: translateX(90px);
    background-color: aliceblue;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .tipoacaiActivo{
    position: relative;
    transform: translateX(-160px);
    background-color: black;
  
  }
  .desacaiActivo{
    position: relative;
    transform: translateX(90%);
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .tiacai, .textacai{
    margin-left: 2.5rem;
  }
  .precosDms{
    margin-top: 20px;
    margin-bottom: 90px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .butSelect{
    padding: 10px;
    border: 1px solid;
    border-radius: 30px;
    background-color: transparent;
    transition: 1s;
    color: white;
    font-family: 'Lemon', serif;
  }
  .butSelectActivo{
    padding: 10px;
    border: 1px solid #7900ac;
    border-radius: 30px;
    background-color: #7900ac;
    color: white;
    transition: 1s;
    font-family: 'Lemon', serif;
  }
  .maisMenos{
    display: flex;
    width: 210px;
    justify-content: center;
 
  }
  .mais, .menos {
    width: 35px;
    height: 35px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
 .containerMa,.containerMe{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

  .mais{
    background-color: rgba(49, 136, 49, 0.699);
  }
  .menos{
    background-color: rgba(255, 0, 0, 0.315);
  }
  .maisDesativo, .menosDesativo{
    display: none;
  }
  .quantidades{
    font-size: 30px;
  }
  .valor{
    margin-left: 3.5rem;
  }
  
  /*-------------------------------------*/
  .valores{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .containervalores{
    width: 90%;
    height:65px;
    background-color: #7900ac;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 10vh;
    margin-top: 78vh;
    transform: translatex(120%);
    transition: 1s;
  }
  .containervaloresActivo{
    width: 90%;
    height:65px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top:10vh;
    background-color: #7900ac;
    margin-top: 78vh;
    transition: .5s;
    color: white;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.452);
    animation: containerV 1s;
  }  

@keyframes containerV {
    0% {
      transform: translateX(48px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateX(26px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateX(13px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateX(6.5px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateX(4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87%,
    98% {
      transform: translateX(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateX(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }

  .containervaloresActivo h1{
    font-size: 20px;
  }
  .containervalores h1{
    font-size: 20px;
  }
  .containervaloresActivo h2{
    font-size: 20px;
  }
  .containervalores h2{
    font-size: 20px;
  }
  .butContinuar{
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid;
    font-family: 'Lemon', serif;
  }