.ContainerPaiP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    line-height: 0;
}
.ContainerPaiP button{
    width: 70%;
    padding: 7px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: transparent;
    color: white;
}

.Promo{
    margin-top: 30px;
    width: 300px;
    height:65vh;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 15px;
}