body{
  height: 100vh;
  background-color:#cb9bde;
  font-family: 'Lemon', serif;
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: #7900ac;
  color: white;
  border-bottom: 3px solid white;
  position: fixed;
  top: 0;
}
.perssonalisar{
  padding: 9px;
  border: 1px solid;
  border-radius: 30px;
}
.logo{
  width: 70px;
  height: 70px;
}

/*---------------------------------------*/

.promocao{
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.616);
}
.butt{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  margin-top: 15px;
  position: relative;
  left: 80%;
  border-radius: 30px;
  background-color: rgb(105, 8, 8);
}
.promocaoDesact{
  display: none;
}
