body{
  height: 100vh;
  background-color:#cb9bde;
  font-family: 'Lemon', serif;
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: #7900ac;
  color: white;
  border-bottom: 3px solid white;
}
.perssonalisar{
  padding: 9px;
  border: 1px solid;
  border-radius: 30px;
}
.logo{
  width: 70px;
  height: 70px;
}

/*---------------------------------------*/

